@import '~@swimlane/ngx-datatable/release/themes/material.css';
.ngx-datatable.scroll-vertical {
  height: 30vh;
}

.ngx-datatable {
  display: block;
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.ngx-datatable, .info {
  text-align: left;
}

.ngx-datatable.material {
    text-align: left;
    padding: .9rem 1.2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.54);
    vertical-align: bottom;
    font-size: 12px;
    font-weight: 500;
}
